$primary-color: #0070f3;
$secondary-color: #004fa8;
$tertiary-color: #003a7d;



@mixin gradient-text {
    background-color: $primary-color;
    background-image: linear-gradient(135deg, $primary-color, $tertiary-color);
    background-size: 100%;
    background-clip: text;
    text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.bio {
    display: flex;
}

.bioImage {
    display: flex;
    margin-right: 1.75rem;
    align-items: center;
    justify-content: center;

    img {
        width: 10rem;
        height: auto;
        border-radius: 50%;
    }
}



.bioContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.bioContentName {
    margin: .6rem 0 .3rem 0;
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 2.5rem;
    @include gradient-text;
}

.bioContentTagline {
    margin: .6rem 0;
    font-size: 1.3rem;
    color: #414141;
}

.bioContentRole {
    font-weight: bold;
    font-size: 1.1rem;
    color: #414141;
    margin: .6rem 0;
}