.bio {
    display: flex;
}

.bioImage {
    display: flex;
    margin-right: 1.75rem;
    align-items: center;
    justify-content: center;

    img {
        width: 9rem;
        height: auto;
        border-radius: 50%;
    }

}

.bioContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.bioContentName {
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 2rem;
    color: #004FA8;
    margin: .6rem 0 .7rem 0;
}

.bioContentTagline {
    font-size: 1.3rem;
    color: #414141;
    margin: .6rem 0;

}

.bioContentRole {
    font-weight: bold;
    font-size: 1.1rem;
    color: #414141;
    margin: .6rem 0;
}