@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@mixin bg-gradient {
  background: linear-gradient(135deg, rgb(250, 250, 250) 0%, rgb(230, 230, 230) 100%) fixed;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  @include bg-gradient;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}