$primary-color: #0070f3;
$secondary-color: #004fa8;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  min-height: 100vh;
}

.main {
  padding: 2rem 0 5rem 0;
  min-width: 60vw;
  max-width: 80vw;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
  color: $secondary-color
}

.subtitle {
  margin: .8rem 0 5rem 0;
  font-size: 1rem;
  text-align: center;
  color: $secondary-color
}


.posts {
  list-style: none;
  padding: 0 0;
  margin: 5rem 0;

  &>li {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0rem;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}