$primary-color: #0070f3;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  min-height: 100vh;
}

.main {
  padding: 5rem 0;
  min-width: 60vw;
  max-width: 80vw;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
}

.posts{
  list-style: none;
  padding: 0 0;
  margin: 5rem 0;

  li{
    margin-bottom: 3rem;
    &:last-child{
      margin-bottom:0;
    }
  }

  p{
    &:first-child{
      margin-top:0;
    }
    &:last-child{
      margin-bottom:0;
    }
  }
}

.postsContent{
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.postDate{
  font-size: .9rem;
  font-weight: 600;
}

.formContent{
  width: 100%;
  height: 6rem;
  margin: 0 0 1rem 0;
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}


.formButton{
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  border: 0;
  line-height: 1;
  padding: .75em 1.5em;  
  background: none;

  color: $primary-color;
  outline: 2px solid $primary-color;
  border: 2px solid $primary-color;
  outline-offset: -2px;
  transition: outline-offset 150ms ease;
}

.formButton:hover,
.formButton:focus {
  outline: 2px solid $primary-color;
  outline-offset: -6px;
  // because of normalize
}