$primary-color: #0070f3;
$secondary-color: #004fa8;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  min-height: 100vh;
}

.main {
  padding: 5rem 0;
  min-width: 60vw;
  max-width: 80vw;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
  color: $secondary-color
}

.subtitle {
  margin: .8rem 0 0 0;
  font-size: 1rem;
  text-align: center;
  color: $secondary-color
}


.posts {
  list-style: none;
  padding: 0 0;
  margin: 5rem 0;

  li {
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.formContent {
  width: 100%;
  min-height: 6rem;
  margin: 0 0 1rem 0;
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  border-radius: .4rem;
}


.formButton {
  float: right;
  cursor: pointer;
  color: #fff;
  font-size: inherit;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1;

  padding: .75em 1.5em;
  border: 2px solid #fff;
  border-radius: .4rem;
  outline: 2px solid #fff;
  outline-offset: -2px;

  transition: outline-offset 150ms ease;

  background: $secondary-color;
}

.formButton:hover,
.formButton:focus {
  outline: 2px solid #fff;
  outline-offset: -8px;
  border-radius: .4rem;
  border-color: $secondary-color;
}