$primary-color: #0070f3;
$secondary-color: #004fa8;

.postContent {
    font-size: 1.5rem;
    line-height: 2.75rem;
    margin: 0 0 0.2rem 0;
    text-align: justify;
}


.postMeta {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
    // border: solid 2px red;
}


.postMetaData {
    display: flex;
    align-items: center;
    margin: 0 0rem 0 1rem;
    font-size: .95rem;
    font-weight: 700;
    color: $secondary-color;

    svg {
        font-size: 0.8rem;
        margin: 0 .3rem 0 0;
    }
}