$primary-color: #0070f3;
$secondary-color: #004fa8;

.postContent {
    font-size: 1.5rem;
    line-height: 2.75rem;
    margin: 0 0 0.2rem 0;
    text-align: justify;
}


.postMeta {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0 0 3rem 0;
}


.postMetaData {
    display: flex;
    align-items: center;
    margin: 0 0rem 05rem 1rem;
    font-size: .95rem;
    font-weight: 700;
    color: $secondary-color;

    svg {
        font-size: 0.8rem;
        margin: 0 .3rem 0 0;
    }

    button {
        appearance: none;
        text-rendering: auto;
        color: $secondary-color;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        text-align: center;
        cursor: default;
        background-color: none;
        box-sizing: border-box;
        margin: 0em;
        padding: 0;
        border-width: none;
        border-style: none;
        border-color: none;
        border-image: none;
    }

    p {
        margin: 0 0 0 0.1rem;
        padding: 0;
    }
}